CONFIG_BAREMETAL_LINKER_SCRIPT=y
CONFIG_BAREMETAL_RAM_SIZE_16=y
# CONFIG_BAREMETAL_RAM_SIZE_32 is not set
# CONFIG_BAREMETAL_RAM_SIZE_64 is not set
# CONFIG_BAREMETAL_RAM_SIZE_128 is not set
CONFIG_BAREMETAL_RAM_SIZE=0x1000000
# CONFIG_BAREMETAL_BOOT_SOURCE_RAM is not set
CONFIG_BAREMETAL_BOOT_SOURCE_UART=y
CONFIG_BAREMETAL_SHADOW=y
CONFIG_BAREMETAL_RUNTIME_ADDRESS=0x00800000
CONFIG_BAREMETAL_ENTRY=y
CONFIG_BAREMETAL_AUTO_RELOCATE=y
CONFIG_BAREMETAL_LATCH_POWER=y
# CONFIG_BAREMETAL_STARTUP is not set
