
#
# Baremetal entry
#
# CONFIG_BAREMETAL_CUSTOM_ENTRY is not set
# CONFIG_BAREMETAL_BOOT_SOURCE_RAM is not set
CONFIG_BAREMETAL_BOOT_SOURCE_UART=y
CONFIG_BAREMETAL_SHADOW=y
CONFIG_BAREMETAL_RUNTIME_ADDRESS=0x00800000
CONFIG_BAREMETAL_AUTO_RELOCATE=y
CONFIG_BAREMETAL_INITIAL_STACK_SIZE=0x40000
# end of Baremetal entry

#
# Baremetal startup
#
# CONFIG_BAREMETAL_CUSTOM_STARTUP is not set
CONFIG_BAREMETAL_LATCH_POWER=y
# end of Baremetal startup

#
# Baremetal runtime
#
# CONFIG_BAREMETAL_ENABLE_ICACHE is not set
# CONFIG_BAREMETAL_DDR_INIT is not set
# CONFIG_BAREMETAL_USE_NEWLIB is not set
CONFIG_BAREMETAL_HEAP_NONE=y
# CONFIG_BAREMETAL_HEAP_FIXED is not set
# CONFIG_BAREMETAL_HEAP_AUTO is not set
# CONFIG_BAREMETAL_MOVE_STACK is not set
CONFIG_BAREMETAL_UART_NONE=y
# end of Baremetal runtime
